 body {
            width: 80%;
            margin: 0 auto;
			background-color:purple;
		
        }
        .page{
		font-size:16px;
		border:1px solid black;
		width:80%;
		margin: 0 auto;
			background-color:white;
			box-shadow:15px 15px black;
		}
		.head{
		background-color:black;
		color:white;
		height:50px;
		margin-top:-20px;
		
		
		}
        h1, h2,h4,h6 {
            text-align: center;
        }
		h1,h2{
			font-family:cursive;
		}
        h4{
			font-family:verdana;
			
		}
        form {
			margin: 5px 5px;
            padding: 10px 10px;
            border: 1px solid black;
        }
        
		li{
		list-style-type:none;
		}
		
		 p{
			overflow-x:auto;
			font-size:1em;
			
		}
		.ejerbtn{
		background-color:#74cced;
		border:2px solid black;
		box-shadow:2px 2px black;
		font-weight:bold;
		margin-bottom:2px;
		}
		.ejerbtn:hover{
		box-shadow:2px 2px black;
		border:2px solid green;
		}
		

		
		.alert{
		color:red;
		}
		.correcto{
		color:green;
		font-family:georgia;
		font-weight:bold;
		font-size:2em;
		}
		
		table {border-collapse: collapse;}
table, td {border:1px solid black;}
		.tateti{
		margin: 0 auto;
		text-align:center;
		}
		
		.importante{
			font-family:georgia;
			font-weight:bold;
			letter-spacing:5px;
			
		}

		